<a href="https://colab.research.google.com/github/suuuuuujin/This_is_Coding_Test/blob/main/%EC%9D%B4%EA%B2%83%EC%9D%B4_%EC%BD%94%EB%94%A9%ED%85%8C%EC%8A%A4%ED%8A%B8%EB%8B%A4_%EC%A0%95%EB%A0%AC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Chapter 6. 정렬

## 1. 기준에 따라 데이터를 정렬

## 선택 정렬(Selection Sort)

### 선택 정렬 소스코드

In [ ]:
array = [7,5,9,0,3,1,6,2,4,8]

for i in range(len(array)):
  min_index = i 
  for j in range(i+1, len(array)):
    if array[min_index] > array[j]:
      min_index = j
  array[i], array[min_index] = array[min_index], array[i]

print(array)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

### 파이썬 스와프 소스코드

In [ ]:
array = [3,5]
array[0], array[1] = array[1], array[0]

print(array)

[5, 3]

## 삽입 정렬(Insertion Sort)

### 삽입 정렬 소스코드

In [ ]:
array = [7,5,9,0,3,1,6,2,4,8]

for i in range(1, len(array)):
  for j in range(i, 0, -1):
    if array[j] < array[j-1]:
      array[j], array[j-1] = array[j-1],array[j]
    else:
      break

print(array)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

## 퀵 정렬
  피벗(기준) 설정과 리스트 분할 방법에 따라 여러 가지 방식 
  /호어 분할 방식 - 리스트에서 첫 번째 데이터를 피벗으로 정한다.

In [ ]:
array = [5,7,9,0,3,1,6,2,4,8]

def quick_sort(array, start, end):
  if start >= end:
    return
  pivot = start
  left = start + 1
  right = end
  while left <= right:
    while left <= end and array[left] <= array[pivot]:
      left += 1
    while right > start and array[right] >=  array[pivot]:
      right -= 1
    if left > right:
      array[right], array[pivot] = array[pivot], array[right]
    else:
      array[left], array[right] = array[right], array[left]

  quick_sort(array, start, right-1)
  quick_sort(array, right+1, end)

quick_sort(array, 0, len(array)-1)
print(array)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

### 파이썬의 장점을 살린 퀵 정렬 소스코드

In [ ]:
array = [5,7,9,0,3,1,6,2,4,8]

def quick_sort(array):
  if len(array) <= 1:
    return array
  
  pivot = array[0]
  tail = array[1:]

  left_side = [x for x in tail if x <= pivot]
  right_side = [x for x in tail if x > pivot]

  return quick_sort(left_side) + [pivot] + quick_sort(right_side)

print(quick_sort(array))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

## 계수 정렬(Count Sort)

### 계수 정렬 소스코드

In [ ]:
array = [7,5,9,0,3,1,6,2,9,1,4,8,0,5,2]

count = [0] * (max(array) + 1)

for i in range(len(array)):
  count[array[i]] += 1

for i in range(len(count)):
  for j in range(count[i]):
    print(i, end=' ')

0 0 1 1 2 2 3 4 5 5 6 7 8 9 9

### sorted 소스코드

In [ ]:
array = [7,5,9,0,3,1,6,2,4,8]

result = sorted(array)
print(result)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

### sort() 소스코드

In [ ]:
array = [7,5,9,0,3,1,6,2,4,8]

array.sort()
print(array)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

### 정렬 라이브러리에서 key를 활용한 소스코드

In [ ]:
array = [('바나나',2), ('사과',5), ('당근',3)]

def setting(data):
  return data[1]

result = sorted(array, key = setting)
print(result)

[('바나나', 2), ('당근', 3), ('사과', 5)]

In [ ]:
array = [('바나나',2), ('사과',5), ('당근',3)]

def setting(data):
  return data[0]

result = sorted(array, key = setting)
print(result)

[('당근', 3), ('바나나', 2), ('사과', 5)]

In [ ]:
array = [('바나나',2), ('사과',5), ('당근',3)]

array[1]

('사과', 5)

In [ ]:
array = [('바나나',2), ('사과',5), ('당근',3)]

result = sorted(array, key=lambda fruit: fruit[1])
print(result)

[('바나나', 2), ('당근', 3), ('사과', 5)]

## 2. 위에서 아래로

### Me

In [ ]:
count = int(input())

num = []

for i in range(count):
  num.append(int( input()))

num.sort(reverse=True)
print(num)

3
15
27
12
[27, 15, 12]

### 답안 예시

In [ ]:
n = int(input())

array = []
for i in range(n):
  array.append(int(input()))

array = sorted(array, reverse=True)

for i in array:
  print(i, end=' ')

3
15
27
12
27 15 12

In [ ]:
array

[27, 15, 12]

## 3. 성적이 낮은 순서로 학생 출력하기

### Me

In [ ]:
n = int(input())

grade = []

for i in range(n):
  grade.append(input().split())

5
a 72
b 99
c 61
d 83
e 40

In [ ]:
grade

[['a', '72'], ['b', '99'], ['c', '61'], ['d', '83'], ['e', '40']]

In [ ]:
len(grade)

5

In [ ]:
def setting(data):
  return data[1]

grade.sort(key=setting)

for i in range(len(grade)):
  print(grade[i][0], end=' ')

e c a d b

### 답안 예시

In [ ]:
n = int(input())

array = []
for i in range(n):
  input_data = input().split()
  array.append((input_data[0], int(input_data[1])))  #문자열이랑 정수형 같이 input이니까, 받은 이후에 따로따로 append

2
홍길동 95
이순신 77

In [ ]:
array

[('홍길동', 95), ('이순신', 77)]

In [ ]:
array = sorted(array, key = lambda student: student[1])

for student in array:
  print(student[0], end=' ')

이순신 홍길동

## 4. 두 배열의 원소 교체

### Me

In [65]:
n, k = map(int,input().split())

a = list(map(int,input().split()))
b = list(map(int,input().split()))

5 3
1 2 5 4 3
5 5 6 6 5

In [66]:
print(a)
print(b)

[1, 2, 5, 4, 3]
[5, 5, 6, 6, 5]

In [67]:
a.sort()
b.sort(reverse=True)

count = 0

for i in range(n):
  if count == k:
    break
  if a[i] < b[i]:
    a[i], b[i] = b[i], a[i]
    count += 1
  else:
    continue

print(sum(a))

26

In [68]:
print(a)
print(b)

[6, 6, 5, 4, 5]
[1, 2, 3, 5, 5]

### 답안 예시

In [69]:
n, k = map(int, input().split())
a = list(map(int, input().split()))
b = list(map(int, input().split()))

a.sort()
b.sort(reverse=True)

for i in range(k):
  if a[i] < b[i]:
    a[i], b[i] = b[i], a[i]
  else:
    break
print(sum(a))

5 3
1 2 5 4 3
5 5 6 6 5
26